{% extends 'NicolasBundle::base.html.twig' %}

{% block title %}{{ 'page_title.athlete.all'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ 'title.athlete'|trans }}</h1>
        <a href="{{ path('homepage_nicolas') }}" class="btn btn-default">< {{ 'return.home'|trans }}</a>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <h3>{{ 'add.athlete'|trans }}</h3>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">{{ 'add.athlete'|trans }}</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-8">
                <h3>{{ 'all.athlete'|trans }}</h3>
                {% if list_athlete is empty %}
                    <div class="alert alert-danger">{{ 'none.athlete'|trans }}</div>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'table.athlete.picture'|trans }}</th>
                            <th>{{ 'table.athlete.last_name'|trans }}</th>
                            <th>{{ 'table.athlete.first_name'|trans }}</th>
                            <th>{{ 'table.athlete.birth_date'|trans }}</th>
                            <th>{{ 'table.athlete.discipline'|trans }}</th>
                            <th>{{ 'table.athlete.pays'|trans }}</th>
                            <th>{{ 'table.athlete.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for athlete in list_athlete %}
                            <tr>
                                <td>{{ athlete.id }}</td>
                                <td><img src="{{ asset('uploads/profil/' ~ athlete.picture) }}" width=80></td>
                                <td>{{ athlete.lastName }}</td>
                                <td>{{ athlete.firstName }}</td>
                                <td>{{ athlete.birthDate|date('Y-m-d') }}</td>
                                <td>{{ athlete.discipline.name }}</td>
                                <td><img src="{{ asset('uploads/flags/' ~ athlete.pays.flagUrl) }}"></td>
                                <td>
                                    <a href="{{ path('edit_athlete', {'id': athlete.id}) }}" class="btn btn-info">{{ 'modify.athlete'|trans }}</a>
                                    <a href="{{ path('delete_athlete', {'id': athlete.id}) }}" class="btn btn-danger">{{ 'delete.athlete'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
