{% extends 'NicolasBundle::base.html.twig' %}

{% block title %}{{ 'page_title.pays.edit'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ 'modify.pays'|trans }}</h1>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="form">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">{{ 'modify.pays'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
