{% extends 'NicolasBundle::base.html.twig' %}

{% block title %}Tous les pays{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Pays</h1>
        <div class="row">
            <div class="col-md-4">
                {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">Ajouter un pays</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-8">
                {% if list_pays is empty %}
                    <div class="alert alert-danger">Il n'y a pas de pays</div>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Drapeau</th>
                                <th>Pays</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pays in list_pays %}
                                <tr>
                                    <td>{{ pays.id }}</td>
                                    <td><img src="{{ asset('uploads/flags/' ~ pays.flagUrl) }}"></td>
                                    <td>{{ pays.name }}</td>
                                    <td>
                                        <a href="{{ path('edit_pays', {'id': pays.id}) }}" class="btn btn-info">Modifier le pays</a>
                                        <a href="{{ path('delete_pays', {'id': pays.id}) }}" class="btn btn-danger">Supprimer le pays</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
