{% extends 'NicolasBundle::base.html.twig' %}

{% block title %}{{ 'page_title.discipline.all'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ 'title.discipline'|trans }}</h1>
        <a href="{{ path('homepage_nicolas') }}" class="btn btn-default">< {{ 'return.home'|trans }}</a>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <h3>{{ 'add.discipline'|trans }}</h3>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">{{ 'add.discipline'|trans }}</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-8">
                <h3>{{ 'all.discipline'|trans }}</h3>
                {% if list_discipline is empty %}
                    <div class="alert alert-danger">{{ 'none.discipline'|trans }}</div>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'table.discipline.name'|trans }}</th>
                            <th>{{ 'table.discipline.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for discipline in list_discipline %}
                            <tr>
                                <td>{{ discipline.id }}</td>
                                <td>{{ discipline.name }}</td>
                                <td>
                                    <a href="{{ path('edit_discipline', {'id': discipline.id}) }}" class="btn btn-info">{{ 'modify.discipline'|trans }}</a>
                                    <a href="{{ path('delete_discipline', {'id': discipline.id}) }}" class="btn btn-danger">{{ 'delete.discipline'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
