{% extends 'NicolasBundle::base.html.twig' %}

{% block title %}Modification d'une discipline{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modifier la discipline</h1>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="form">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Modifier la discipline</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
